@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700&family=Inter:wght@400;700&family=Lisu+Bosa:ital,wght@0,200;1,600&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&family=Pacifico&family=Poppins:wght@400;500;600;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap");
@import './media/media.css';
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  font-family: Inter;
}

